
<button mat-raised-button color="accent" (click)="getInnerHtml()">Send to my email</button>
<mat-card>
    <mat-card-content>
        <h2>Welcome back, {{ student.name }}!</h2>
        <p>Login Time: {{ student.login_time }}</p>
    </mat-card-content>
</mat-card>

<mat-card class="title"> 
    <mat-card-content>Upcoming in 1 hour</mat-card-content>
</mat-card>
<mat-card>
    <mat-card-content>
        <ng-container *ngIf="classes.length === 0; else upcomingClassesSection">
            <p>Hooray! No upcoming classes!</p>
        </ng-container>
        <ng-template #upcomingClassesSection>
            <mat-list>
                <div *ngFor="let class of classes" (click)="goToCourse(class)">
                    <mat-list-item>
                        <span matListItemTitle>{{class.course_id}} {{class.subclass}}</span>
                        <span matListItemLine>{{class.name}}</span>
                        <span matListItemLine>Address: {{class.address}}</span>
                        <span *ngIf='class.zoom_link != null'matListItemLine>Zoom link: <a href="{{class.zoom_link}}">{{class.zoom_link}}</a></span>
                    </mat-list-item>
                    <mat-divider></mat-divider>
                </div>
            </mat-list>
        </ng-template>
    </mat-card-content>
</mat-card>