<button mat-raised-button color="accent" (click)="getInnerHtml()">Send to my email</button>
<mat-card>
    <mat-card-content>  
        Courses
    </mat-card-content>
</mat-card>
<mat-list>
    <div *ngFor="let course of courses" (click)="goToCourse(course)">
        <mat-list-item>
            <span matListItemTitle>{{course.course_id}} {{course.subclass}}</span>
            <span matListItemLine>{{course.name}}</span>
        </mat-list-item>
        <mat-divider></mat-divider>
    </div>
    
</mat-list>